@model Reggie.Blog.Models.InformalEssay;

@{
    Layout = "_IndexLayout";
    ViewData["Title"] = "Langdexuming' Blog, read the full article";
}

<style>
    #detail {
        color: #262626;
        border-radius: 2px;
        background: #fff;
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, .1); */
        box-shadow: 0 1px 12px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 16px;
        /* justify-content: space-between; */
        padding: 0px 20px;
        overflow: hidden;
    }
</style>

<div id="detail">
    @{
        <h3>@Model.Title</h3>
        <br>
        <div>@Html.Raw(@Model.Message)</div>
        <br>
        var str = "posted @ " + @Model.CreateDateTime + "&nbsp;&nbsp;&nbsp;by&nbsp;&nbsp;" + @Model.UserName;

        <p class="text-right" style="color:#999;">@Html.Raw(@str)</p>
    }
</div>
