    @model Reggie.Blog.ViewModels.ResumeViewModel;
     @{
        ViewData["Title"]="Langdexuming' Blog, welcome to check my resume";
    }

    <style>

        body {

        }

        .jumbotron {
            padding: 0;
            margin-bottom: 0px;
        }
        
        .summary-description>p {
            margin-top: 24px;
            font-size: 16px;
            line-height: 24px;
        }

        .summary-brand .title {
            font-family: "华文行楷";
            font-size: 72px;
            color: #fff;
        }
        
        .summary-brand .subheading {
            padding: 0px 20px;
            font-family: "方正姚体";
            font-size: 24px;
            color: #fff;
            display: inline-block;
        }
        
        .summary-brand .subheading .broken-line {
            width: 100px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        
        .summary-description {
            font-family: "微软雅黑Light";
            font-size: 14px;
            color: #fff;
        }
        
        .section {
            padding: 20px 0px;
        }
        
        .section .heading {
            margin: 10px 0px;
            vertical-align: middle;
            padding:10px 0px;
        }
        
        .section .heading h3.title {
            margin: 0px;
            padding: 0px;
        }
        
        .section .heading .title {
            font-size: 18px;
            color: #000;
            font-family: "微软雅黑";
            text-align: center;
        }
        
        .section .heading hr {
                margin-top: 5px;
                margin-bottom: 0px;
            }

        .section .heading .line {
            height: 2px;
            width: 40px;
            color: #313131;
            background: #313131;
        }
        
        .section .content .title {
            font-size: 18px;
            color: #000;
            font-family: "微软雅黑";
        }
        
        .section .content .dl-horizontal {
            height: 24px;
            
        }

        .section .content dl
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .section .content .progress{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .section .content .dl-horizontal dt {
            font-weight: normal;
            font-family: "微软雅黑";
            font-size: 14px;
            line-height: 24px;
            color: #000;
            float: left;
            width: 120px;
            padding-right: 12px;
        }
        
        .section .content .dl-horizontal dd {
            margin-bottom: 0px;
            height: 24px;
            float: none;
            margin-left: 0px;
        }
        
        #skillContent {
            background: #fff;
        }
        
        #skillContent .content {
            margin-top: 40px;
            font-size: 12px;
        }
        
        #skillContent .progress {
            border-radius: 4px;
            background: #e3e3e3;
        }
        
        #skillContent .progress-bar {
            background: #42445f;
            color: #fff;
            border-radius: 4px;
            font-family: "微软雅黑Light";
        }
        
        #skillContent .progress-bar span {
            line-height: 24px;
        }

        #experienceContent {
            background: #f5f5f5;
            box-sizing: border-box;
        }
        
        #experienceContent .time-quantum {
            font-family: "微软雅黑Light";
            font-size: 14px;
            color: #000;
        }

            #experienceContent .company-info {
                padding: 10px 20px;
                margin: 10px 0px;
            }
            #experienceContent .company-info h4 {
                font-family: "微软雅黑";
                color: #000;
                font-size: 16px;
            }
        
        #experienceContent>h3 {
            /* background: #EC6A5C; */
            padding: 20px 40px;
            border-radius: 3px;
        }

            #experienceContent .content .row {
                border: 0 solid transparent;
                padding: 0px 0px;
                margin: 0px;
            }
        
        #experienceContent .content .post {
                font-family: "微软雅黑";
                font-size: 14px;
                color: #874c06;
            }

            #experienceContent .content .dividing {
                height: 100%;
                margin:0px;
            }

            #experienceContent .list-group {
                padding: 0px;
                border-width:0px;
            }

            #experienceContent .list-group-item {
                padding-top: 0px;
                padding-bottom: 0px;
                padding: 0px;
                margin-bottom: 0px;
            }

            #experienceContent .content .dividing hr {
                width: 1px;
                background: #828282;
                border: 0px solid transparent;
                margin: 0px auto;
                height:100%;
            }

                #experienceContent .content .dividing .circle {
                    height: 12px;
                    width: 12px;
                    border-radius: 6px;
                    border: 1px solid #646969;
                    margin: auto 0;
                    vertical-align: middle;
                    background: #fff;
                    text-align: center;
                    position:absolute;
                }

            #experienceContent .content .description {
                background: #fff;
                border-radius: 4px;
                font-size: 14px;
                font-family: "微软雅黑Light";
                color: #000;
                padding: 10px 20px;
                border-width: 0px;
                margin:10px 0px;
            }
        
        #experienceContent .content .description ol {
            padding-left: 20px;
        }
        
        #sampleReelsContent {
            background: #fff;
        }
        
        #sampleReelsContent>h3 {
            /* background: #77AAAD; */
            padding: 20px 40px;
            border-radius: 3px;
        }
        
        #educationalContent {
            background: #f5f5f5;
            margin-bottom: 10px;
        }
        
        #educationalContent>h3 {
            /* background: #4FB0C6; */
            padding: 10px 40px;
            border-radius: 3px;
        }
        
        #educationalContent .content {
            color: #000;
            font-size: 14px;
            font-family: "微软雅黑Light";
            
        }
        
        #educationalContent .content .school {
            color: #1fadff;
            font-size: 18px;
            font-family: "微软雅黑";
                        float: left;
        }
        
        #educationalContent .content .major {
            color: #555;
            font-size: 16px;
            font-family: "微软雅黑";
            text-align: right;
        }

        #educationalContent .major+p {
            margin-top: 10px;
            float: left;
        }
        
        #educationalContent a {
            text-decoration-line: none;
        }
        
        .bold-text {
            font-weight: bold;
        }
        
        #rightNavbar {
            position: fixed;
            right: 0px;
            top: 240px;
            box-shadow: 0 1px 12px rgba(0, 0, 0, .1);
            text-align: center;
        }
        
        #rightNavbar {
            background: transparent;
            /* width: 120px;*/
            /*  height: 240px;*/
            width: 60px;
            border-radius: 6px;
            border-width: 0px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
        }
        
        #rightNavbar .basement-bg {
            background: #7f7f7f;
            opacity: 0.6;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border-width: 0px;
        }
        
        #rightNavbar ul {
            margin: 0px;
        }
        
        #rightNavbar li {
            list-style: none;
            float: none;
            color: #fff;
        }
        
        #rightNavbar li>a {
            background: transparent;
            display: inline-block;
            font-size: 18px;
            font-family: "微软雅黑Light";
            color: inherit;
        }
        
        #rightNavbar li>a .glyphicon {
            margin-right: 4px;
        }
        
        #rightNavbar li.active {
            color: #fed57d;
        }
        
        #rightNavbar hr {
            height: 1px;
            background: #fefefe;
            border-width: 0px;
            opacity: 0.6;
            min-width: 24px;
            width: 80%;
        }
        
        #summaryContent .btn-group {
            /*不起作用*/
            /* margin: auto;*/
            margin-left: 30%;
        }
        
        #summaryContent .btn-group img {
            width: 32px;
            height: 32px;
        }
        
        #summaryContent .btn-group .btn {
            padding: 0px;
            background: transparent;
            border-width: 0px;
            float: left;
            margin-right: 12px;
            width: 32px;
            height: 32px;
            opacity: 0.6;
        }
        
        #summaryContent .btn-group .btn:hover {
            opacity: 1;
        }
        
        .repo-icon{
            margin-right:5px;
            float: left;
            margin-top: 2px;
            color: #666;
        }

        .list-group-item{
            vertical-align: middle;
            border: 0px solid transparent;
            background-color:transparent;
        }

        #sampleReelsContent .panel{
            margin-bottom:10px;
        }

        li hr{
            margin-top:0px;
            margin-bottom:0px;
        }
    </style>

<div id="summaryContent" class="poster">
        <div class=" jumbotron container">
            <img src="~/images/home/pexels-photo-banner-index.jpeg" class=" img-responsive">
            <!-- <img src="~/images/home/pexels-photo-banner.jpg" class=" img-responsive"> -->
            <div class="col-md-6 col-md-offset-6">
                <div class="summary-brand">
                    <div class="title">YIN Ruimin</div>
                    <div class="subheading">
                        <hr class="broken-line"></hr>
                        <span>@Model.Motto</span>
                    </div>
                </div>
                <div class="summary-description">
                    <p>
                        @Model.PersonalProfile
                    </p>
                </div>
                <div class="btn-group">
                    <a class="btn">
                        <img src="~/images/home/weibo.png" class=" img-responsive" alt="微博">
                    </a>
                    <a class="btn">
                        <img src="~/images/home/weixin.png" class=" img-responsive" alt="微信">
                    </a>
                    <a class="btn">
                        <img src="~/images/home/qq.png" class=" img-responsive" alt="QQ">
                    </a>
                    <a class="btn">
                        <img src="~/images/home/lingying.png" class=" img-responsive" alt="领英">
                    </a>
                    <a class="btn">
                        <img src="~/images/home/email.png" class=" img-responsive" alt="Email">
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-4 col-md-offset-2">
                     <img src="~/images/home/section-international-icon.png" class=" img-responsive"></img>
                </div> -->
        </div>
</div>

@*用于定位导航条变换位置*@
<div id="posterBottom"></div>

    <!-- 工作技能 -->
@if (Model.IsShowSkills)
{
    <div id="skillContent" class="section">
        <div class="heading">
            <h3 class="title">工作技能</h3>
            <hr class="line"></hr>
        </div>
        <div class=" content container">
            <div class="list-group">
                @if(Model.Skills?.Count>0) { @foreach (var skill in Model.Skills) { var progressValue=skill.Level*10; var styleProgressValue=progressValue>20?progressValue:progressValue*2;
                <div class="list-group-item col-sm-4 col-md-4 col-lg-4">
                    <dl class="dl-horizontal">
                        <dt>@skill.Name</dt>
                        <dd class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: @styleProgressValue%;">
                                <span>@progressValue%</span>
                            </div>
                        </dd>
                    </dl>
                </div>
                } }
            </div>
        </div>
    </div>
}
    <!-- 工作经历 -->
@if (Model.IsShowJobExperiences)
{
    <div id="experienceContent" class="section">
        <div class="heading">
            <h3 class="title">工作经历</h3>
            <hr class="line"></hr>
        </div>
        <div class="content container">
            <div class="list-group">
                @if (Model.JobExperiences?.Count>0)
                { @foreach(var item in Model.JobExperiences)
                {
                    var isNowJob=item.EndDate==null;
                <div class="list-group-item row">
                    <div class=" col-md-3 company-info">
                        <h4>@item.CompanyName</h4>
                        @if (isNowJob)
                        {
                            <h5 class="time-quantum weak-text">
                                @Html.DisplayFor(modelItem => item.StartDate)-至今
                            </h5>
                        }
                        else
                        {
                            <h5 class="time-quantum weak-text">
                                @Html.DisplayFor(modelItem => item.StartDate)-@Html.DisplayFor(modelItem => item.EndDate)
                            </h5>
                        }
                    </div>
                    <div class="col-md-1 dividing">
                        <hr class="line"/>
                        <div class="circle"></div>
                    </div>
                    <div class="col-md-8 description">
                        <h5 class="post">@item.Position</h5>
                        <div>
                            @Html.Raw(@item.JobContent)
                        </div>
                    </div>
                </div>
                }
                }
            </div>
        </div>
    </div>
}

    <!-- 作品集 -->
@if (Model.IsShowSamples&& Model.Samples?.Count > 0)
{
    <div id="sampleReelsContent" class="section">
        <div class="heading">
            <h3 class="title">作品集</h3>
            <hr class="line"></hr>
        </div>
        <div class="content container">
            @foreach (var item in Model.Samples)
            {
                <div class="panel panel-info">
                    <div class="panel-heading ">
                        <a href="@item.ViewUrl" target="_blank" title="@item.ViewUrl">@Html.DisplayFor(modelItem => item.Title)</a>
                    </div>
                    <div class="panel-body">
                        @Html.Raw(@item.Description)
                    </div>
                    <div class="panel-footer">
                        <a href="#" target="_blank">
                            <span>
                                <svg aria-hidden="true" class="repo-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                    <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                                </svg>
                            </span>@Html.DisplayFor(modelItem => item.SourceUrl)
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
         }

    <!-- 教育背景 -->
@if (Model.IsShowEducationInformation && Model.Samples?.Count > 0)
{
    <div id="educationalContent" class="section">
        <div class="heading">
            <h3 class="title">教育背景</h3>
            <hr class="line"></hr>
        </div>
        <div class="content container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.zhbit.com/" target="_blank">
                        <h4 class="school">北京理工大学珠海学院(本科)</h4>
                    </a>
                    <h5 class="major">机械电子工程专业 (2011-2015)</h5>
                    <p class=" weak-text">主修课程：计算机技术，C语言程序设计，单片机程序设计，嵌入式系统linux，控制工程，PLC控制基础，变频器技术，电力电子技术，模拟电子技术基础，电路电子技术等。
                    </p>
                </div>
            </div>
        </div>
    </div>
}

    <!-- 定义一个右侧导航条 -->
    <nav id="rightNavbar" class="navbar navbar-default">
        <div class="basement-bg"></div>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active" data-target="#summaryContent">
                <a href="#">
                    <span class="glyphicon glyphicon-user" title="个人简介"></span>
                </a>
                <hr></hr>
            </li>
            @if (Model.IsShowSkills)
            {
            <li role="presentation" data-target="#skillContent">
                <a href="#">
                    <span class="glyphicon glyphicon-wrench" title="工作技能"></span>
                </a>
                <hr></hr>
            </li>
            }
            @if (Model.IsShowJobExperiences)
            {
            <li role="presentation" data-target="#experienceContent">
                <a href="#">
                    <span class="glyphicon glyphicon-fire" title="工作经历"></span>
                </a>
                <hr></hr>
            </li>
            }
            @if (Model.IsShowSamples)
            {
            <li role="presentation" data-target="#sampleReelsContent">
                <a href="#">
                    <span class="glyphicon glyphicon-picture" title="作品集"></span>
                </a>
                <hr></hr>
            </li>
            }
            @if (Model.IsShowEducationInformation)
            {
                <li role="presentation" data-target="#educationalContent">
                    <a href="#">
                        <span class="glyphicon glyphicon-pencil" title="教育背景"></span>
                    </a>
                </li>
            }

        </ul>
    </nav>


@section Scripts 
{
        <script lang="javascript" type="text/javascript">

            var _isValidScroll = true;
            var _topNavbarHeight = 65;
            var _scrollTopOffset = 20;

            /*
             * 滚动到指定位置
             *
             */
            function ScrollTo(offset) {
                $("body,html").stop();
                // $(document).prop("scrollTop", $($(this).data('target')).position().top - _scrollTopOffset);
                //$(document).scrollTop($($(this).data('target')).position().top - _scrollTopOffset);
                //$("body,html").animate({ scrollTop: $($(this).data('target')).position().top - _scrollTopOffset });
                //根据差值算出时间
                var gap = Math.abs(offset - $('body,html').scrollTop());
                var msec = 800 * gap / 800;
                if (msec < 800) {
                    msec = 800;
                }
                $("body,html").animate({
                    scrollTop: offset
                }, 'slow', 'swing', function () {
                    _isValidScroll = true;
                });

                //$(document).scrollTop(offset);
            }

            $(function () {

                $("li[role=presentation]").each(function (index) {
                    if ($(this).hasClass('active')) {
                        var scrollTopOffset = _scrollTopOffset;
                        if (index == 0) {
                            scrollTopOffset = 100;
                        }
                        ScrollTo(GetPositionTop($($(this).data('target'))) - scrollTopOffset);
                    }

                    $(this).click(function (event) {
                        $("li[role=presentation]").removeClass('active');
                        $(this).addClass('active');

                        //阻止默认事件
                        event.preventDefault();

                        _isValidScroll = false;
                        var scrollTopOffset = _scrollTopOffset;
                        if (index == 0) {
                            scrollTopOffset = 100;
                        }
                        ScrollTo($($(this).data('target')).offset().top - scrollTopOffset);
                    });
                });

                resizeHandler = function () {
                    $('#experienceContent .content .list-group-item').each(function (index, element)
                    {
                        var leftHeight = $(element).children('.company-info').height();
                        var rightHeight = $(element).children('.description').height();
                        var height = leftHeight < rightHeight ? rightHeight : leftHeight;

                        height += 40;
                        console.log(height);
                        $(element).height(height);

                        var dividingElement = $(element).children('.dividing');
                        var circleElement = $(dividingElement).children('.circle');

                        var left = (dividingElement.width() + 30) / 2 - (circleElement.width() + 2) / 2;
                        //var top = (dividingElement.height()) / 2 - (circleElement.height() + 2) / 2;
                        var top = (dividingElement.height()) / 3 + 10;

                        circleElement.css("left",left);
                        circleElement.css("top",top);
                    });

                };
                resizeHandler();
                window.onresize = resizeHandler;

                $(document).scroll(function () {
                    // 屏蔽点击标签定位
                    if (!_isValidScroll) {

                        return false;
                    }

                    // 遍历所有块，找到当前所在块
                    var _previousElement = undefined;
                    var _offsetY;

                    $("li[role=presentation]").each(function (index) {
                        var previousElement = _previousElement;
                        _previousElement = $(this);

                        var targetElement;

                        if (previousElement === undefined) {
                            _offsetY = _topNavbarHeight;
                            targetElement = $(this);
                        }
                        else {
                            _offsetY = $(previousElement.data('target')).height() / 2 + _topNavbarHeight;
                            targetElement = previousElement;
                        }

                        var docScrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                        var target = $($(this).data('target'));
                        var targetTop = target.offset().top;

                        if (docScrollTop > targetTop - _offsetY) {
                            if (index === $("li[role=presentation]").length - 1) {
                                targetElement = $(this);
                            } else {
                                return true;
                            }
                        }

                        $("li[role=presentation]").removeClass('active');
                        if (!targetElement.hasClass('active')) {
                            targetElement.addClass('active');
                        }
                        return false;
                    });

                });
            });

    </script>
}